extends layout

block content
    h1 #{title}: #{bookinstance.id}
    p= bookinstance.book.title
    p #{bookinstance.imprint}
    p 
    if bookinstance.status=='Available'
        span.text-success #{bookinstance.status}
    else if bookinstance.status=='Maintenance'
        span.text-danger #{bookinstance.status}
    else
        span.text-warning #{bookinstance.status} 
    p   
    if bookinstance.status!='Available'
        //p #[strong Due back:] #{bookinstance.due_back}
        #{bookinstance.due_back_formatted}
    
    h4 Do you really want to delete this Book Instance?

    form(method='POST' action='')
        div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

        button.btn.btn-primary(type='submit') Delete